<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Diario de Comidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Diario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Consumo Diario de Comidas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let comida of comidas">
          <ion-label>
            <h2>{{ comida.nombre }}</h2>
            <p>Consumo: {{ comida.cantidad }} porción(es)</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
