<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <!-- Imagen de fondo y superposición -->
  <img src="../../assets/prueba.png" class="background-image" alt="Background">
  <div class="overlay"></div>

  <!-- Contenido centrado -->
  <div class="content-overlay">
    <!-- Título y subtítulo -->
    <div class="title">
      <h4>Regístrate</h4>
      <p>Únete a FoodFusion para comenzar</p>
    </div>

    <!-- Formulario de registro -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input 
          formControlName="email" 
          placeholder="Email" 
          type="email" 
          class="primary-input">
        </ion-input>
      </ion-item>
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
        <p *ngIf="email?.errors?.['required']">El correo es obligatorio.</p>
        <p *ngIf="email?.errors?.['email']">El formato del correo no es válido.</p>
      </div>

      <ion-item>
        <ion-input 
          formControlName="password" 
          placeholder="Contraseña" 
          type="password" 
          class="primary-input">
        </ion-input>
      </ion-item>

      <!-- Mensaje de términos y condiciones -->
      <p class="terms">
        Al registrarte, aceptas nuestros <a href="#">Términos y Condiciones</a>.
      </p>

      <!-- Botón de registro -->
      <div class="button-wrapper">
        <ion-button 
          expand="block" 
          color="primary" 
          [disabled]="registerForm.invalid">
          REGISTRARSE
        </ion-button>
      </div>

      <!-- Enlaces a redes sociales -->
      <div class="social-media">
        <p>O regístrate con:</p>
        <ion-buttons>
          <ion-button fill="clear">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>

      <!-- Enlace para cerrar -->
      <div class="ion-margin-top ion-text-center">
        <a (click)="dismiss()">Cerrar</a>
      </div>
    </form>
  </div>
</ion-content>
